<div class="d-flex justify-content-center">
    <div>
        <h2>About Our Todo List App</h2>
        <p>
            Simple TODO list app to note down your Daily TODO's.
        </p>
        <p>
            How to use:

            Add the title and the description of your TODO or a task, and then click on the Create TODO button, make
            sure both the Title and Description are not Empty.
        </p>

        <p>
            If your TODO is completed you can either delete or if you want to keep the just strike out that TODO, you
            can check that Done Checkbox, that will strikeout the TODO with out removing it entirely.
        </p>

        <p>
            If you want to entirely remove the TODO you can click Delete button that will remove the TODO entirely.
        </p>

        And Thats it !
    </div>
</div>