<div class="mb-3">
    <h3 [ngClass]="{'strike': !Todo.isActive}">
        {{Todo.title}}
    </h3>
    <p [ngClass]="{'strike': !Todo.isActive}" >{{Todo.description}}</p>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="handleCheckBoxClick(Todo)" [checked]="!Todo.isActive">
        <label class="form-check-label" for="exampleCheck1">Done</label>
    </div>

    <button class="btn btn-danger" (click)="onDeleteClick(Todo)">
        Delete
    </button>
</div>
